In [36]:
import pandas as pd

In [37]:
pwd

'C:\\Users\\areus\\Desktop\\coding_folder\\Python-for-Data-Science-and-Machine-Learning-Bootcamp\\03-Python-for-Data-Analysis-Pandas'

In [38]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [39]:
#in order to write to a csv file we will need a data frame

In [40]:
df = pd.read_csv('example')

In [41]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df.to_csv('My_output')

In [9]:
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [10]:
df.to_csv('My_output', index = False)

In [11]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
#how to read and write excel files

In [16]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [17]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1', index_col =0)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [18]:
#writing a dataframe to an excel output

In [19]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

In [25]:
import ssl

In [20]:
#html input/

In [26]:
ssl._create_default_https_context = ssl._create_unverified_context

In [27]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [28]:
type(data)

list

In [29]:
data[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
1,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
2,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
3,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
4,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
...,...,...,...,...,...,...,...
560,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
561,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
562,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
563,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
564,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [30]:
data[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
1,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
2,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
3,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
4,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536

In [31]:
#how to read SQL in pandas

In [32]:
from sqlalchemy import create_engine

In [33]:
engine = create_engine('sqlite:///memory:')

In [46]:
df.to_sql('data', engine)

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/14/e3q8)