In [1]:
import numpy as np
import pandas as pd

In [14]:
from numpy.random import randn

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
#^this creates a multi index from tuples

In [10]:
#hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [16]:
df

             A         B
G1 1 -1.631065 -1.063982
   2 -1.284977  0.116933
   3 -1.348415  0.617255
G2 1  0.677920 -0.493293
   2  1.013893 -1.875093
   3  0.939739  2.584561

In [17]:
#how to call date from this index heirarchy

In [18]:
df.loc['G1']

          A         B
1 -1.631065 -1.063982
2 -1.284977  0.116933
3 -1.348415  0.617255

In [19]:
df.loc['G1']['A']

1   -1.631065
2   -1.284977
3   -1.348415
Name: A, dtype: float64

In [21]:
df.loc['G1']['A'][1]

-1.6310645851801837

In [23]:
df.loc['G1'].loc[1]

A   -1.631065
B   -1.063982
Name: 1, dtype: float64

In [24]:
#how to name these indexs

In [26]:
df.index.names

FrozenList([None, None])

In [29]:
df.index.names = ['Groups','Num']

In [30]:
df

                   A         B
Groups Num
G1     1   -1.631065 -1.063982
       2   -1.284977  0.116933
       3   -1.348415  0.617255
G2     1    0.677920 -0.493293
       2    1.013893 -1.875093
       3    0.939739  2.584561

In [46]:
%%timeit
df.loc['G2']['B'][2]

183 µs ± 2.47 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [47]:
%%timeit
df.loc['G2'].loc[2]['B']

197 µs ± 1.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [40]:
#cross section

In [41]:
df

                   A         B
Groups Num
G1     1   -1.631065 -1.063982
       2   -1.284977  0.116933
       3   -1.348415  0.617255
G2     1    0.677920 -0.493293
       2    1.013893 -1.875093
       3    0.939739  2.584561

In [42]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1   -1.631065 -1.063982
       2   -1.284977  0.116933
       3   -1.348415  0.617255
G2     1    0.677920 -0.493293
       2    1.013893 -1.875093
       3    0.939739  2.584561>

In [43]:
df.xs('G1')

            A         B
Num
1   -1.631065 -1.063982
2   -1.284977  0.116933
3   -1.348415  0.617255

In [49]:
df.xs(1, level='Num')

               A         B
Groups
G1     -1.631065 -1.063982
G2      0.677920 -0.493293